%h1
  #{@invoice.paid? ? 'Paid' : 'Unpaid'} Invoice
  %small= @invoice.created_at

%table.table.table-striped
  %thead
    %tr
      %th Item
      %th Price
  %tbody
    - @invoice.items.each do |item|
      %tr
        %td= item.title
        %td= item.price
    %tr
      %td Total
      %td= @invoice.amount
= form_tag close_invoice_path(@invoice) do
  %script.stripe-button{ 'src' => 'https://checkout.stripe.com/checkout.js',
    'data-key' => ENV['STRIPE_PUBLISHABLE_KEY'],
    'data-name' => 'Iron Shop',
    'data-description' => "#{@invoice.items.count} items",
    'data-amount' => @invoice.amount_in_cents }
