%h1
  Your Cart
  %small= @cart.created_at

%table.table.table-striped
  %thead
    %tr
      %th Item
      %th Price
  %tbody
    - @cart.items.each do |item|
      %tr
        %td= item.title
        %td= item.price
    %tr 
      %th Subtotal
      %th= @cart.subtotal
    %hr
    %tr
      %th Total
      %th= @cart.total
        

=form_tag close_invoice_path(@cart) do 
  %script.stripe-button{ 'src' => 'https://checkout.stripe.com/checkout.js',
    'data-key' => ENV['STRIPE_PUBLIC_KEY'],
    'data-name' => 'Iron Shop',
    'data-description' => "#{@cart.items.count} items",
    'data-amount' => @cart.amount_in_cents }

