.page-header
  %h1
    Shopping Cart
    %small
      = "for #{current_user.email}"

%table.table.table-striped
  %thead
    %tr
      %th Item
      %th Price
      %th Seller
      %th
  %tbody
  -@cart.items(include: :seller).each do |item|
    %tr
      %td= item.title
      %td= item.price
      %td= item.seller.email
      %td= link_to "Remove Items", cart_remove_path(id: item.id)

%br
%hr
%button.btn.btn-default= link_to "Check Out!", cart_checkout_path
