!!!
%html
  %head
    %title
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag 'application'

    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          = link_to "Iron Shop", root_path, class: "navbar-brand" 
        %ul.nav.navbar-nav.pull-right
          %li= link_to "For Sale", items_path 
          %li= link_to "My Watch List", watched_items_path
          %li.dropdown
            %a.btn-btn-default.dropdown-toggle{id:"dropdownMenu1", "data-toggle"=> 'dropdown'}
              Profile Options
              %b.caret
            %ul.dropdown-menu.dropdown-menu-right{role:'menu', 'aria-labelledby'=>"dropdownMenu1"}
              - if current_user
                / Signed in
                %li= link_to "Edit Account", edit_user_registration_path
                %li= link_to "Log out", destroy_user_session_path, method: :delete
              - else
                / Not signed in
                %li= link_to "Log in", new_user_session_path
                %li= link_to "Sign up", new_user_registration_path
          %li.dropdown
            %a.btn-btn-default.dropdown-toggle{id:"dropdownMenu2", "data-toggle"=> 'dropdown'}
              %i.fa.fa-shopping-cart
                -if current_user && @cart
                  %span.badge= @cart.items.count 
                -else
                  %span.badge= 0
            %ul.dropdown-menu.dropdown-menu-right.cart{role:'menu', 'aria-labelledby'=>'dropdownMenu2'}
              - if current_user && @cart.items.count > 0
                %table.table.table-striped
                  %tbody
                    -@cart.items.each do |item|
                      %tr
                        %td
                          %h5= link_to item.title, item, class: "cart"
                        %td
                          %h5= item.price
                    %tr
                      %td Total
                      %td= @cart.subtotal
                %hr
                = link_to "View Cart", cart_path, class: "btn btn-warning pull-right"
              - else
                %h5.center-cart Your Cart Is Empty
    .container
      .flash
        - flash.each do |name, msg|
          %div{ :class => "alert alert-#{flash_class name}" }
            %a.close{ "data-dismiss" => "alert" } &times;
            %div{ :id => "flash_#{flash_class name}" }
              = msg

      = yield
